<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
  
    <style>
        h1 {
            font-family: 'Dela Gothic One', sans-serif;
            color: #B10021;
        }
    </style>
  </head>
  
  <body>
  
  <div class="d-flex justify-content-center mt-3">
    <h1>LifeWithFave</h1>
  </div>
  
  <div class="d-flex justify-content-center">
    <img src="<%= asset_path('hannah-rodrigo-mf_3yZnC6ug-unsplash.jpg') %>" class="img-fluid mx-auto top-image">
  </div>
  
  </body>
</html>