@use '~bootstrap/scss/bootstrap';

.top-image {
     width: 800px; /* 幅を指定 */
     height: 500px; /* 高さを指定 */
     margin-top: 50px; /* 上側の余白を指定 */
     margin-bottom: 50px;
   }
   
#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}